.my-project-accordion-image {
    max-width: 100%;
    display: block;
}

.my-project-accordion-wrapper {
    max-width: 70rem;
}

.my-project-accordion {
    --_button-size: 3rem;
    --_panel-padding: 0.75rem;
    --_panel-gap: 1rem;
    display: flex;
    flex-direction: column;
    height: 70rem;
    gap: 1rem;
    contain: content;
}

@media (min-width: 45em) {
    .my-project-accordion {
        flex-direction: row;
        height: 35rem;
    }
}

.my-project-panel {
    position: relative;
    isolation: isolate;
    flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
    overflow: hidden;
    padding: var(--_panel-padding);
    padding-right: calc((var(--_panel-padding) * 5));
    border-radius: calc(((var(--_panel-padding) * 2) + var(--_button-size)) / 2);
}

@media (prefers-reduced-motion: no-preference) {
    .my-project-panel {
        transition: flex-basis 500ms, flex-grow 500ms;
    }
}

.my-project-panel:has([aria-expanded = "true"]) {
    flex-basis: clamp(15rem, 40vh, 20rem);
    flex-grow: 1;
}

.my-project-accordion-trigger {
    outline: 0;
}

.my-project-panel:focus-within {
    outline: 3px solid var(--primary-color);
    outline-offset: 4px;
}

.my-project-panel > .my-project-content > p, .my-project-panel > .my-project-content > .my-project-built-with, .my-project-panel > .my-project-content > .my-project-links {
    transform: translateY(2rem);
    opacity: 0;
    margin-left: calc(var(--_button-size) + var(--_panel-gap));
}

@media (prefers-reduced-motion: no-preference) {
    .my-project-panel:has([aria-expanded = "true"]) p, .my-project-panel:has([aria-expanded = "true"]) .my-project-built-with, .my-project-panel:has([aria-expanded = "true"]) .my-project-links {
        transition: transform 500ms 500ms, opacity 500ms 500ms;
    }
}

.my-project-panel:has([aria-expanded = "true"]) p, .my-project-panel:has([aria-expanded = "true"]) .my-project-built-with, .my-project-panel:has([aria-expanded = "true"]) .my-project-links {
    transform: translateY(0);
    opacity: 1;
}

.my-project-accordion-title {
    color: #E7DFDD;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    isolation: isolate;
    display: grid;
    align-items: center;
}

@media (max-width: 44.99999em) {
    .my-project-accordion-title::after {
        content: "";
        position: absolute;
        left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
        width: calc(100% + (var(--_button-size) * 2));
        height: var(--_button-size);
        background: hsl(0 0% 0% / 0.5);
        z-index: -1;
        border-radius: 100vw;
    }
}


.my-project-accordion-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: filter 500ms;
}

.my-project-panel:has([aria-expanded = "true"]) .my-project-accordion-image {
    filter: brightness(0.4);
}

.my-project-accordion-trigger {
    display: flex;
    align-items: center;
    gap: var(--_panel-gap);
    flex-direction: row-reverse;
    background: transparent;
    border: 0;
    padding: 0;
}

.my-project-accordion-icon {
    fill: var(--primary-color);
    background: hsl(0 0% 0% / 0.55);
    width: var(--_button-size);
    aspect-ratio: 1 / 1;
    padding: 0.5rem;
    border-radius: 50%;
    z-index: 10;
}

.my-project-built-with .badge {
    background-color: var(--primary-color);
}

.my-project-github-icon {
    font-size: 2rem;
    color: var(--primary-color);
    transition: 0.5s ease;
}

.my-project-github-icon:hover {
    color: var(--primary-color);
    text-shadow: 0 0 1rem var(--primary-color);
}