h1, h2, h3, h4 {
    margin: 0;
}

p {
    margin: 0;
}

span {
    color: var(--primary-color);
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0;
}

ul li::before {
    content: "□";
    color: var(--primary-color);
    margin-right: 1rem;
}

a.hover-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
  }

.hover-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.hover-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.badge {
    background-color: var(--primary-color);
}

.my-section {
    min-height: 100vh;
}

.my-image img {
    width: 80vw;
}

@media (min-width: 45em) {
  .my-image img {
    width: 35vw;
  }
}

.my-content h1 {
    font-size: 5rem;
    font-weight: 900;
    line-height: 1.5;
}

.my-content h2 {
    font-size: 4rem;
    font-weight: 700;
}

.my-content h3 {
    font-size: 3rem;
    font-weight: 700;
}

.my-content h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

.my-content p {
    font-size: 1.25rem;
}