/* Asap */

@font-face {
    font-family: 'Asap';
    src: local('Asap'),
    url('./Asap/Asap-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Asap';
    src: local('Asap'),
    url('./Asap/Asap-Italic.ttf') format('ttf');
}

/* Asap-Light */

@font-face {
    font-family: 'Asap';
    src: local('Asap'),
    url('./Asap/Asap-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Asap';
    src: local('Asap'),
    url('./Asap/Asap-LightItalic.ttf') format('ttf');
}

/* Asap-Medium */

@font-face {
    font-family: 'Asap';
    src: local('Asap'),
    url('./Asap/Asap-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Asap';
    src: local('Asap'),
    url('./Asap/Asap-MediumItalic.ttf') format('ttf');
}

/* Asap-SemiBold */

@font-face {
    font-family: 'Asap';
    src: local('Asap'),
    url('./Asap/Asap-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Asap';
    src: local('Asap'),
    url('./Asap/Asap-SemiBoldItalic.ttf') format('ttf');
}

/* Asap-Bold */

@font-face {
    font-family: 'Asap';
    src: local('Asap'),
    url('./Asap/Asap-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Asap';
    src: local('Asap'),
    url('./Asap/Asap-BoldItalic.ttf') format('ttf');
}


