/* HelloMessage */

.fade-in {
    transition: opacity 1s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

.hello {
    font-size: 2rem;
    color: #0dcaf0;
}

/* Header */

.name {
    font-size: 3rem;
}