.btn.my-resume-button {
    font-size: 1.5rem;
    transition: 0.5s ease;
}

.btn.my-resume-button:hover {
    border-color: #0dcaf0;
    background-color: #0dcaf0;
    box-shadow: 0 0 1rem #0dcaf0;
}
