div#home .my-image {
    display: none;
}

.my-content .my-typed {
    text-shadow: 0 0 1rem var(--primary-color);
}

.my-header-text {
    flex-grow: 1;
}

.btn.my-resume-button {
    font-size: 1.5rem;
    transition: 0.5s ease;
}

.btn.my-resume-button:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    box-shadow: 0 0 1rem var(--primary-color);
}

@media (min-width: 45em) {
    div#home .my-image {
        display: block;
    }
}
