.navbar.my-header-footer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.my-logo .my-logo-icon {
    width: 3rem;
    aspect-ratio: 1 / 1;
}

.my-navbar-button .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(13, 202, 240, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse.my-navbar-collapse {
    flex-grow: 0;
}

.navbar-nav > .nav-link {
    color: inherit;
    font-size: 1.5rem;
    transition: 0.5s;
}

.navbar-nav > .nav-link:hover, .navbar-nav > a.nav-link.active {
    color: var(--primary-color);
    text-shadow: 0 0 1rem var(--primary-color);
    font-weight: bold;
}
